// Светлая тема
$color-main: #D9D8FF;
$color-background: #FFF4F4;
$color-button: #A19EFF;
$color-text: #222222;
$color-grey: #22222230;

// Темная тема
$color-dark-main: #111111;
$color-dark-background: #363636;
$color-dark-button: #8E24FF;
$color-dark-text: #F5F5F5;
$color-dark-grey: #F5F5F530;
$color-dark: #222222;

// Задний фон модального окна
$color-background-modal: #00000070;
