$color-main: var(--color-main);
$color-background: var(--color-background);
$color-button: var(--color-button);
$color-text: var(--color-text);
$color-grey: var(--color-grey);
$color-dark: var(--color-dark);
$color-background-modal: var(--color-background-modal);

$color-tab-hover: var(--color-tab-hover);
$color-button-hover: var(--color-button-hover);
$color-button-hover-active: var(--color-button-hover-active);
$color-nav-button-hover: var(--color-nav-button-hover);
$color-modal-button-hover: var(--color-modal-button-hover);
