@mixin button($height, $width) {
    border-radius: 15px;
    background-color: $color-button;
    padding: 10px;
    height: $height;
    width: $width;
    font-size: 18px;
    font-weight: 500;
    color: white;
    @if $height == auto {
        padding: 14.5px 32px;
    }
    @if $height == initial {
        padding: 14.5px 32px;
    }
    &:hover {
        background-color: $color-text;   
    }
    svg {
        height: $height - 20px;
        width: $width - 20px;
    }
    @media screen and (max-width: 700px) {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $height - 10px;
        width: $width - 10px;
        padding: 0;
        @if $height == initial {
            padding: 14.5px 32px;
        }
        svg {
            height: calc(($height - 10px) / 2 - 1px);
            width: calc(($width - 10px) / 2 - 1px);
        }
    }
}