@mixin button($height, $width) {
    border-radius: 15px;
    background-color: $color-button;
    padding: 10px;
    height: $height;
    width: $width;
    font-size: 18px;
    font-weight: 500;
    color: white;
    @if $height == auto {
        padding: 14.5px 32px;
    }
    @if $height == initial {
        padding: 14.5px 32px;
    }
    &:hover {
        background-color: $color-text;   
    }
    svg {
        height: $height - 20px;
        width: $width - 20px;
    }
    @media screen and (max-width: 700px) {
        display: flex;
        align-items: center;
        justify-content: center;
        height: $height - 10px;
        width: $width - 10px;
        padding: 0;
        @if $height == initial {
            padding: 14.5px 32px;
        }
        svg {
            height: calc(($height - 10px) / 2 - 1px);
            width: calc(($width - 10px) / 2 - 1px);
        }
    }
}

%modal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: $color-background-modal;
    position: absolute;
    top: 0;
}
%modal-block {
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    width: min(100% - 2rem, 500px);
}
%modal-block-container {
    display: flex;
    &:first-child {
        align-items: center;
        justify-content: space-between;
        margin-bottom: 1rem;

        p {
            font-size: 28px;
            font-weight: 700;
        }

        svg {
            cursor: pointer;
        }
    }
}
%modal-block-container-active {
    background-color: $color-main;
    color: $color-button;
}
@mixin buttonModal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 1rem;
    font-size: 20px;
    text-align: left;
    &:not(.modalBlockContainerActive) {
        background-color: inherit;
        &:hover {
            background-color: rgba($color-main, .4);
        }
    }
}