@mixin button($height, $width) {
    border-radius: 15px;
    background-color: $color-button;
    padding: 10px;
    height: $height;
    width: $width;
    font-size: 18px;
    font-weight: 500;
    color: white;
    @if $height == auto {
        padding: 14.5px 32px;
    }
    @if $height == initial {
        padding: 14.5px 32px;
    }
    @if $width == modal {
        height: 50px;
        width: 100%;
    }
    &:hover {
        background-color: $color-text;   
    }
    svg {
        height: calc($height - 20px);
        width: calc($width - 20px);
    }
    @media screen and (max-width: 700px) {
        display: flex;
        align-items: center;
        justify-content: center;
        height: calc($height - 10px);
        width: calc($width - 10px);
        min-width: calc($width - 10px);
        padding: 0;
        @if $height == initial {
            padding: 14.5px 32px;
        }
        svg {
            height: calc(($height - 10px) / 2 - 1px);
            width: calc(($width - 10px) / 2 - 1px);
        }
    }
}

%block {
    display: flex;
    flex-direction: column;
    margin: 48px auto;
    width: min(100% - 2rem, 1200px);
    @media screen and (max-width: 700px) {
        margin: 24px auto;
    }
}

@mixin buttonModal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    padding: 1rem;
    font-size: 20px;
    @media screen and (max-width: 700px) {
        font-size: 18px;
    }
    
    &:not(.modalBlockContainerActive):not(.modalBlockDownload button) {
        background-color: inherit;
        &:hover {
            background-color: rgba($color-main, .4);
        }
    }
}
@mixin buttonModalDownload {
    button {
        @include button(modal, modal);
        display: flex;
        justify-content: flex-start !important;
        padding: 14.5px 32px !important;
        @media screen and (max-width: 700px) {
            @include button(modal, modal);
        }
        
        &:hover {
            background-color: $color-text;
        }
    }
}
@mixin buttonModalDefault {
    button {
        @include button(modal, modal);
        padding: 14.5px 32px !important;
        @media screen and (max-width: 700px) {
            @include button(modal, modal);
        }
        
        &:last-child {
            background-color: inherit;
            border: solid 1px $color-button;
            color: $color-button;
        }
        
        &:hover {
            background-color: $color-text;
            &:last-child {
                border: solid 1px $color-text;
                color: white;
            }
        }
    }
}