@import '../../styles/UI/colors';
@import '../../styles/UI/components';

.modal {
    display: flex;
    align-items: safe center;
    justify-content: safe center;
    height: 100%;
    width: 100%;
    padding: 1rem 0;
    background-color: $color-background-modal;
    position: fixed;
    top: 0;
    z-index: 2;
    overflow-y: scroll;
    &::-webkit-scrollbar {
        width: 0;
    }

    &Block {
        background-color: $color-dark;
        border-radius: 20px;
        padding: 20px;
        width: min(100% - 2rem, 500px);

        span {
            color: $color-grey;
            font-size: 20px;
            margin: 8px 0 24px;
            @media screen and (max-width: 700px) {
                font-size: 18px;
                margin: 8px 0 16px;
            }
        }

        input {
            border: solid 1px $color-text;
            border-radius: 15px;
            padding: 13.5px 1rem;
            font-size: 18px;
            margin: 8px 0;
            width: 100%;
            &::placeholder {
                color: $color-grey;
            }
            @media screen and (max-width: 700px) {
                margin: 1rem 0 8px;
            }
        }

        &Container {
            display: flex;
            @media screen and (max-width: 350px) {
                flex-wrap: wrap;
            }
            &:first-child {
                align-items: center;
                justify-content: space-between;
                margin-bottom: 1rem;

                p {
                    font-size: 28px;
                    font-weight: 700;
                }

                svg {
                    cursor: pointer;
                    &:hover {
                        path {
                            fill: $color-button;
                        }
                    }

                    path {
                        fill: $color-modal-button-hover;
                    }
                }
            }

            b {
                font-size: 24px;
                font-weight: 600;
                margin: 1rem 0;
                &:first-child {
                    @media screen and (max-width: 700px) {
                        margin: 8px 0 1rem;
                    }
                }
                @media screen and (max-width: 700px) {
                    font-size: 22px;
                }
            }

            &:not(:first-child) {
                flex-direction: column;
            }

            &Active {
                background-color: $color-main;
                color: $color-button;
            }
        }

        &Default {
            button {
                @include buttonModal;
            }
        }

        &Label {
            @include button(modal, modal);
            padding: 14.5px 32px;
            display: flex;
            cursor: pointer;
        }
    }

    &Download {
        @include buttonModalDownload;

        &Container {
            gap: 8px;
            &:first-child {
                margin: 0;
            }
        }
    }

    &AddPassword {
        &Container {
            margin-bottom: 24px !important;
            @media screen and (max-width: 700px) {
                margin-bottom: 1rem !important;
            }
        }
    }

    &Password {
        &Container {
            @media screen and (max-width: 380px) {
                flex-direction: column !important;
            }

            &Opacity {
                opacity: .4;
                cursor: no-drop;
                &:hover {
                    background: $color-button !important;
                }
            }
        }
    }

    &Default {
        @include buttonModalDefault;

        &Container {
            gap: 8px;
            &:first-child {
                margin: 0;
                flex-direction: column;
                text-align: center;
                gap: 2px;
            }
            &:last-child {
                flex-direction: row;
                text-align: center;
                margin-top: 8px;
            }

            p {
                @media screen and (max-width: 700px) {
                    font-size: 24px !important;
                }
            }

            &Full {
                button {
                    background-color: $color-button;
                    border: solid 1px $color-button;
                    color: $color-nav-button-hover;
                }
            }
        }
    }
}