@import '../../styles/UI/colors';
@import '../../styles/UI/components';

.modal {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: $color-background-modal;
    position: absolute;
    top: 0;

    &Block {
        background-color: white;
        border-radius: 20px;
        padding: 20px;
        width: min(100% - 2rem, 500px);

        &Container {
            display: flex;
            &:first-child {
                align-items: center;
                justify-content: space-between;
                margin-bottom: 1rem;

                p {
                    font-size: 28px;
                    font-weight: 700;
                }
            }
            &:last-child {
                flex-direction: column;

                button {
                    background-color: transparent;
                    border-radius: 10px;
                    padding: 1rem;
                    font-size: 20px;
                    text-align: left;
                }
            }
        }
    }
}