@import '../../styles/UI/colors';
@import '../../styles/UI/components';

.modal {
    @extend %modal;

    &Block {
        @extend %modal-block;

        &Container {
            @extend %modal-block-container;

            &:not(:first-child) {
                flex-direction: column;

                button {
                    @include buttonModal;
                }
            }

            &Active {
                @extend %modal-block-container-active;
            }
        }
    }
}