@import '../../styles/UI/colors';
@import '../../styles/UI/components';

.notes {
    @extend %block;
    gap: 24px;
    @media screen and (max-width: 700px) {
        margin: 24px auto;
    }

    &Item {
        background-color: $color-dark;
        border-radius: 15px;
        padding: 32px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        &:hover {
            box-shadow: 0 1px 3px 0 $color-grey;
        }
        @media screen and (max-width: 700px) {
            flex-direction: column;
            gap: 10px;
            padding: 1rem;
        }

        &Container {
            p {
                font-size: 24px;
                font-weight: 600;
                @media screen and (max-width: 700px) {
                    font-size: 20px;
                }

                svg {
                    margin-left: 8px;
                    @media screen and (max-width: 700px) {
                        height: 16px;
                        margin-left: 6px;
                    }

                    path {
                        fill: $color-modal-button-hover;
                    }
                }
            }
            span {
                font-size: 16px;
                color: $color-grey;
                @media screen and (max-width: 700px) {
                    font-size: 14px;
                }
            }
            button {
                @include button(40px, 40px);
            }
            &:last-child {
                display: flex;
                gap: 8px;
            }

            &Active {
                background-color: $color-button-hover-active !important;
            }
        }
    }

    &Empty {
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;
        width: min(calc(100% - 2rem), 300px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        p {
            text-align: center;
            &:first-child {
                font-size: 32px;
                font-weight: 600;
                margin-bottom: 8px;
            }
            &:nth-child(2) {
                font-size: 20px;
                color: $color-grey;
            }
        }
        a {
            @include button(initial, initial);
            text-align: center;
            margin-top: 24px;
        }
    }
}