@import '../../styles/UI/colors';

.search {
    display: flex;
    gap: 1rem;
    width: 100%;

    &Active {
        background-color: $color-button-hover-active !important;
        
        svg {
            rect {
                fill: $color-nav-button-hover;
            }
        }
    }

    &Mobile {
        display: none;
        margin: calc(24px + 72px) auto 0;
        width: calc(100% - 2rem);
        @media screen and (max-width: 700px) {
            display: flex;
        }
    }

    button {
        background-color: $color-dark;
        border-radius: 15px;
        height: 50px;
        min-width: 50px;
        &:hover {
            background-color: $color-grey;
        }
    }
    input {
        border-radius: 15px;
        padding: 15px 16px;
        font-size: 16px;
        width: min(100%, 750px);
        &::placeholder {
            color: $color-grey;
        }
    }
}