@import '../../styles/UI/colors';
@import '../../styles/UI/components';

.view {
    @extend %block;
    gap: 24px;
    @media screen and (max-width: 700px) {
        gap: 1rem;
    }
    
    &Buttons {
        display: flex;
        justify-content: space-between;

        &Items {
            display: flex;
            gap: 1rem;
            @media screen and (max-width: 700px) {
                gap: 10px;
            }
            &:first-child {
                button {
                    @include button(50px, 50px);
                    svg {
                        display: block;
                    }
                }
            }

            button {
                @include button(auto, auto);
                @media screen and (max-width: 700px) {
                    @include button(50px, 50px);
                }

                span {
                    @media screen and (max-width: 700px) {
                        display: none;
                    }
                }

                svg {
                    display: none;
                    @media screen and (max-width: 700px) {
                        display: block;
                    }
                }
            }
        }
    }

    &Container {
        display: flex;
        flex-direction: column;
        background-color: white;
        border-radius: 20px;
        padding: 32px 48px;
        gap: 1rem;
        &:last-child {
            @media screen and (max-width: 700px) {
                padding: 24px;
            }
        }
        @media screen and (max-width: 700px) {
            padding: 1rem 24px;
        }

        h1 {
            text-align: left;
            font-size: 28px;
            font-weight: 600;
            @media screen and (max-width: 700px) {
                font-size: 20px;
            }
        }
        p {
            font-size: 24px;
            @media screen and (max-width: 700px) {
                font-size: 18px;
            }
        }
    }
}