@import './styles/UI/colors';
@import 'https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: $color-background;
}
::-webkit-scrollbar-thumb {
  background-color: $color-button;
  border-radius: 6px;
  border: 3px solid #f0f0f0;
  &:hover {
    background-color: $color-text;
  }
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: $color-background;
  color: $color-text;
  font-variant-numeric: lining-nums;
}
h1 {
  text-align: center;
}
button {
  cursor: pointer;
}
button,
input {
  border: none;
  outline: none;
  user-select: none;
  font-family: "Raleway", sans-serif;
}
a {
  color: inherit;
  text-decoration: none;
}