@import './styles/UI/colors';
@import 'https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root[data-theme='light'] {
  --color-main: #D9D8FF;
  --color-background: #FFF4F4;
  --color-button: #A19EFF;
  --color-text: #222222;
  --color-grey: #22222230;
  --color-dark: white;
  --color-background-modal: #00000070;

  --color-tab-hover: rgba(217, 216, 255, 0.4);
  --color-button-hover: #222222;
  --color-button-hover-active: #222222;
  --color-nav-button-hover: white;
  --color-modal-button-hover: #222222;
}
:root[data-theme='dark'] {
  --color-main: #111111;
  --color-background: #363636;
  --color-button: #8E24FF;
  --color-text: #F5F5F5;
  --color-grey: #F5F5F530;
  --color-dark: #222222;
  --color-background-modal: #00000090;

  --color-tab-hover: rgba(17, 17, 17, 0.4);
  --color-button-hover: #111111;
  --color-button-hover-active: #F5F5F530;
  --color-nav-button-hover: #F5F5F5;
  --color-modal-button-hover: #F5F5F5;

  svg {
    rect {
      fill: $color-nav-button-hover;
    }
    path[fill="#A19EFF"] {
      fill: $color-button;
    }
  }
}
::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: $color-background;
}
::-webkit-scrollbar-thumb {
  background-color: $color-button;
  border-radius: 6px;
  border: 3px solid #f0f0f0;
  &:hover {
    background-color: $color-text;
  }
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: $color-background;
  color: $color-text;
  font-variant-numeric: lining-nums;
}
h1 {
  text-align: center;
}
button {
  cursor: pointer;
}
button,
input {
  border: none;
  outline: none;
  user-select: none;
  font-family: "Raleway", sans-serif;
  font-variant-numeric: lining-nums;
  background-color: $color-dark;
  color: $color-text;
}
a {
  color: inherit;
  text-decoration: none;
}