@import './styles/ui/colors';

@import 'https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Raleway', sans-serif;
  background-color: $color-background;
  color: $color-text;
}
h1 {
  text-align: center;
}
button,
input {
  border: none;
  outline: none;
  user-select: none;
}