@import '../../styles/UI/colors';
@import '../../styles/UI/components';

.nav {
    background-color: $color-main;
    display: flex;
    justify-content: center;

    &Items {
        width: min(100%, 1200px);
        margin: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 48px;

        &Container {
            p {
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                &::first-letter {
                    color: $color-button;
                }
                &:last-child {
                    margin-left: 20px;
                    @media screen and (max-width: 700px) {
                        margin-left: 15px;
                    }
                }
                @media screen and (max-width: 700px) {
                    font-size: 16px;
                }
            }

            &:last-child {
                display: flex;
                gap: 1rem;
                @media screen and (max-width: 700px) {
                    gap: 10px;
                }

                button {
                    @include button(auto, auto);

                    &:nth-child(2) {
                        display: none;
                    }

                    @media screen and (max-width: 700px) {
                        &:first-child {
                            display: none;
                        }
                        &:nth-child(2) {
                            display: flex;
                            width: 40px;
                        }
                    }
                }
                button ~ button {
                    @include button(50px, 50px);
                }
            }

            &Search {
                width: 100%;
                @media screen and (max-width: 700px) {
                    display: none;
                }
            }
        }
    }
}