@import '../../styles/UI/colors';
@import '../../styles/UI/components';

.nav {
    background-color: $color-main;
    display: flex;
    justify-content: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;

    &Items {
        width: min(100%, 1200px);
        margin: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 48px;

        &Container {
            p {
                font-size: 20px;
                font-weight: 700;
                text-transform: uppercase;
                &::first-letter {
                    color: $color-button;
                }
                &:last-child {
                    margin-left: 20px;
                    @media screen and (max-width: 700px) {
                        margin-left: 15px;
                    }
                }
                @media screen and (max-width: 700px) {
                    font-size: 16px;
                }
            }

            &:last-child {
                display: flex;
                gap: 1rem;
                @media screen and (max-width: 700px) {
                    gap: 10px;
                }

                a {
                    button {
                        @include button(auto, auto);
                        @media screen and (max-width: 700px) {
                            @include button(50px, 50px);
                        }
                        
                        span {
                            @media screen and (max-width: 700px) {
                                display: none;
                            }
                        }
                        svg {
                            display: none;
                            @media screen and (max-width: 700px) {
                                display: block;
                            }
                        }
                    }
                }

                button {
                    @include button(50px, 50px);

                    svg {
                        display: block;
                    }
                }
            }

            &Search {
                width: 100%;
                @media screen and (max-width: 700px) {
                    display: none;
                }
            }

            &Active {
                background-color: $color-text !important;
            }
        }
    }
}